body{
    background: radial-gradient(  #244f77,#112B44);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    
}

.full{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px 0;
}
.my{
    background-color: #0F1F35 ;
    height:700px ;
    width: 20%;
    border: 0.5px solid #4a7194;
    border-radius: 20px;
    
    padding: 40px;
}
.mye{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
@media (max-width:960px){
    .full{
        flex-direction: column;
        align-items: center;
        
    }
    .cont{
        display: none;
    }
    .my{
        flex-direction: row;
        justify-content:center;
        align-items: center;
        height:150px ;
        width: 94%;
        gap: 20px;
        position: relative;
       
    } 
    .mye{
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content:flex-start;
        position: relative;
        bottom: 20px;
        left: 0px;
        gap: 20px;
    }
    .main {
        width: 94% !important;
    }
    .sideline{
        display: none;
    }
    .img{
        height: 90px!important;
        width: 90px!important;
        
    }
}


.img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 10px 0 0 0 ;
}
#name{
    color: aliceblue !important;
    margin: 10px 0 8px 0 ;
}
#ocu{
    color: aliceblue;
    background: #223f68;
    border-radius: 5px;
    padding: 2px 13px ;
    font-size: smaller;
}

.main{
    background-color: #0F1F35 ;
    height:900px ;
    width: 77%;
    border: 0.5px solid #4a7194;
    border-radius: 15px;
    position: relative;
    padding: 30px 30px;
   margin: 0%
}

.nav{
    position: absolute;
    right: 0;
    top: 0;
    background: #1a3253;
    width: 400px;
    height: 60px;
    border-radius:0px 15px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ne{
    color: aliceblue;
    font-size:medium;
    margin: 0;
    background: none;
    border: none;
}
.ne:hover{
    color: rgb(144, 172, 197);
}
.about{
    color: aliceblue;
}
p{
    color: rgb(208, 220, 231);
    font: Roboto;
    font-size: large;
}
.sideline{
    background: #4a7194;
    height: 1px;
    width: 180px;
    border-radius: 10px;
    margin: 10px 0px;
}
.line{
    background: #4a7194;
    height: 5px;
    width: 80px;
    border-radius: 10px;
    margin: 30px 10px;
    
}

.skills{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin: 0px 0px 0px 20px;
}
.skill{
    height: 120px;
    border-radius: 23px;
}
